body{
  margin: 0;
  font-family: helvetica;
  color: black;
  background-color: White;
  text-align: center
}
.banner img {
  width: 100%;
  line-height: normal;
  margin-bottom: 8%;
}

a {
  color: White;
  font-family: times;
  font-size: 20px;
  text-decoration: none;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    font-weight: 600;
    color: white;
}

h4 {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    color: #B7B8BC;
  
}
h3, h4 {
  background-color: black;
  opacity: 70%;
  padding: 2px;
}
.case,
.teammate {
    border: 2px solid white;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
/* header section */

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}
header img {
  height: 50px;
  margin: 10px 0;
  margin-left: 30px;
}
nav {
  text-align: right;
  flex-grow: 1;
}
nav span {
  display: inline-block;
  padding: 20px;
}

button {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 0 10px;
}

/* Readings section */

.container-readings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 8%;
}
.container-readings div img {
  width: 200px;
  height: 250px;
}
p {
  font-family: times;
  color: #797A7F;
  text-align: center;
}

/* Team section */

.team h2 {
    display: none;
}

.teammates {
    display: flex;
    flex-wrap: wrap;
}

.teammate {
    width: 200px;
    height: 450px;
    display: flex;
    align-items: flex-end;
    flex-grow: 1;
}

#ibenit {
    background-image: url("./Img/IvyBenit.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

#nbaker {
    background-image: url("./Img/NancyBaker.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#msmith {
    background-image: url("./Img/MapleSmith.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#smason {
    background-image: url("./Img/SkyMason.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#dfrannard {
    background-image: url("./Img/DaisyFrannard.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* Contact section */
#contact {
  padding: 70px;
}
#contact h2, h5 {
  line-height: 10%;
}

/* Footer section */

footer {
  background-color: black;
  padding: 20px;
  font-size: 1rem;
  text-align: center;
  color: #797A7F; 

}
